<launch> 
    
	<!--启动mavros节点 -->
    <include file="$(find mavros)/launch/px4.launch" />

	<!--启动USB摄像头节点 -->
    <include file="$(find usb_cam)/launch/usb_cam_test.launch" />

	<!--启动坐标转换节点 -->
    <include file="$(find robot_vision)/launch/ar_track_camera.launch" />    

	<!--启动二维码识别运动控制节点-->
    <node name='v2_ar_track_landing' pkg="v2_ar_track_landing" type="v2_ar_track_landing" output="screen" />
</launch>

