#!/usr/bin/env python
PACKAGE = "color_tracking"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

color_enum = gen.enum([	gen.const("Dynamic",int_t, 0, "Use dynamic threshold"),
						gen.const("Red",	int_t, 1, "Preset HSV threshold of Red"),
						gen.const("Blue",	int_t, 2, "Preset HSV threshold of Blue"),
						gen.const("Green",	int_t, 3, "Preset HSV threshold of Green"),
						gen.const("Yellow",	int_t, 4, "Preset HSV threshold of Yellow")],"Preset HSV threshold list")
gen.add("color",int_t,0,"chose present HSV thrshold",0,0,4,edit_method=color_enum)

gen.add("HSV_H_MIN", int_t, 0, "HSV_H_MIN", 118,0, 255)
gen.add("HSV_S_MIN", int_t, 0, "HSV_S_MIN", 110,0, 255)
gen.add("HSV_V_MIN", int_t, 0, "HSV_V_MIN", 16,	0, 255)
gen.add("HSV_H_MAX", int_t, 0, "HSV_H_MAX", 180,0, 180)
gen.add("HSV_S_MAX", int_t, 0, "HSV_S_MAX", 255,0, 255)
gen.add("HSV_V_MAX", int_t, 0, "HSV_V_MAX", 255,0, 255)



gen.add("speed_ap",  double_t, 0, "SPEED P PARAM",  1.2, 0.0, 3.0) # default , maximum , minimum

gen.add("speed_ai",  double_t, 0, "SPEED I PARAM", 0.0, -1.0, 1.0)

gen.add("speed_ad",  double_t, 0, "SPEED D PARAM", 0.02, -1.0, 1.0)

gen.add("speed_vp",  double_t, 0, "SPEED P PARAM",  0.6, 0.0, 1.2)

gen.add("speed_vi",  double_t, 0, "SPEED I PARAM",  0.0, -0.05, 0.05)

gen.add("speed_vd",  double_t, 0, "SPEED D PARAM",  0.02, -0.05, 0.05)


exit(gen.generate(PACKAGE, "color_tracking", "HSV_Parament"))

